{% extends 'base.html' %}

{% block content %}
  <section class="about-section">
    <div class="about-container">
      <h2 class="section-title">About Musipedia</h2>
      <p class="section-description">Musipedia is a comprehensive music library database that stores and manages information about various songs, artists, albums, genres, and playlists. Our primary objective is to design a user-friendly interface that allows people to search, filter, and sort the music catalog easily. The metadata can be standardized in a music database, making it simpler for users to search and filter according to various criteria.</p>
      
      <h3 class="section-subtitle">Our Motivation</h3>
      <p class="section-description">We aim to provide a centralized platform for music lovers to explore and discover new music. Our project enables individuals to discover and learn about many musical genres, artists, and instruments. Students, aspiring musicians, and anybody else looking to expand their knowledge of music can benefit most from Musipedia.</p>
      
      <h3 class="section-subtitle">Assisting with Music Research</h3>
      <p class="section-description">For scholars looking to research the history of music, examine musical trends, or look into the cultural effects of music, Musipedia can be a useful tool. Our music database improves the user experience and makes it simpler for individuals to find the music they love by offering a user-friendly interface that enables users to search, filter, and sort through a big collection of music. The musical traditions of various civilizations can be preserved with the aid of Musipedia.</p>
      
      <h3 class="section-subtitle">Organize Your Music</h3>
      <p class="section-description">With the vast amount of music available online, it can be challenging to keep track of all the songs, artists, and albums. Musipedia can help organize this information and provide easy access to music lovers.</p>
    </div>
  </section>
{% endblock %}
