{% extends 'base.html' %}

{% block content %}
  <div style="background-image: url('{{ url_for('static', filename='images/background.gif') }}'); background-size: cover; height: 80vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h1 style="font-size: 5rem; font-weight: bold; text-align: center; color: #fff; text-shadow: 2px 2px #000;">Musipedia: Your Comprehensive Music Library</h1>
    <a class= "about-musipedia" href="{{ url_for('about') }}" title="About Musipedia">ABOUT MUSIPEDIA</a>
  </div>
    {% if playlists %}
      <h1 style= "font-size: 60px; text-align: center; font-weight: bold; margin-top: 120px;">Dive into your Playlists</h1>
      <div class="playlist-container">
      {% for playlist in playlists %}
        <div class="playlist-card">
          <div class="playlist-attribute">
            <label>Title:</label>
            <div class="playlist-title">{{ playlist['Title'] }}</div>
          </div>
          <div class="playlist-attribute">
            <label>Description:</label>
            <div class="playlist-description">{{ playlist['Description'] }}</div>
          </div>
          <div class="playlist-attribute">
            <label>Total Duration:</label>
            <div class="playlist-duration">{{ playlist['TotalDuration'] }}</div>
          </div>
          <div class="playlist-attribute">
            <label>Total Songs:</label>
            <div class="playlist-duration">{{ playlist['TotalSongs'] }}</div>
          </div>
          <div class="playlist-action">
            {% if playlist['TotalSongs'] > 0 %}
              <a href="{{ url_for('get_playlist_songs', id=playlist['PlaylistID']) }}" class="open-button">Open</a>
            {% endif %}
            <a href="{{ url_for('edit_playlist', id=playlist['PlaylistID']) }}">Edit</a>
          </div>
          <div class="playlist-share">
            <button class="share-button" data-url="{{ url_for('getPlaylist', id=playlist['PlaylistID'], _external=True) }}">Share</button>
            <div class="share-menu">
              <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=&su={{ playlist['Title'] }}&body={{ url_for('get_playlist_songs', id=playlist['PlaylistID'], _external=True) }}" title="Email" class="gmail">📩</a>
              <a href="sms:&body={{ url_for('get_playlist_songs', id=playlist['PlaylistID'], _external=True) }}" title="iMessages" class="imessage">✉</a>
            </div>
            </div>
          </div>
      {% endfor %}
      </div>
    {% endif %}
    <h1 style= "font-size: 60px; text-align: center; font-weight: bold; margin-top: 120px;">Find your Rhythm</h1>
  <div class="beats-grid">
    {% for beat in beats %}
      <div class="beats-card">
        <div class="beats-card-inner">
          <div class="beats-card-front">
            <h2 class="beats-card-title">{{ beat['Title'] }}</h2>
            <p class="beats-card-text">{{ beat['Description'] }}</p>
          </div>
          <div class="beats-card-back">
            <h2 style= "font-size: 26px;">Play</h2>
            <p class="beats-card-text">Duration: {{ beat['Duration'] }}</p>
            <button style = "font-size: 30px;" onclick="openPopup('{{ beat['Title'] }}', '{{ url_for('static', filename='music/' + beat['Title']) + '.mp3'}}')">▷</button>
            <p style= "font-size: 10px; margin-top: 50px;">Music provided by NoCopyrightSounds
Free Download/Stream: http://NCS.io/</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <h1 style= "font-size: 60px; text-align: center; font-weight: bold; margin-top: 120px;">Discover Genre</h2>
    <div class="genre-container-home">
      {% set random_genre = genres |random %}
      <div class="genre-home genre-bg {% if random_genre['Name'] == 'Pop' %}genre-pop{% elif random_genre['Name'] == 'R&B' %}genre-rnb{% elif random_genre['Name'] == 'Rock' %}genre-rock{% elif random_genre['Name'] == 'Hip hop' %}genre-hiphop{% elif random_genre['Name'] == 'Country' %}genre-country{% elif random_genre['Name'] == 'Electronic' %}genre-electronic{% elif random_genre['Name'] == 'Classical' %}genre-classical{% elif random_genre['Name'] == 'Jazz' %}genre-jazz{% elif random_genre['Name'] == 'Reggae' %}genre-reggae{% endif %}">
        <h2>{{ random_genre['Name'] }}</h2>
        <p>{{ random_genre['Description'] }}</p>
        <form action="/genre/{{ random_genre['GenreID'] }}/song">
          <button type="submit" class="btn-zoom">View Songs</button>
        </form>
      </div>
    </div>
    <h1 style= "font-size: 60px; text-align: center; font-weight: bold; margin-top: 120px;">Contact Us</h1>
    <form id="contact-form" method="POST" action="https://formsubmit.co/6a7b65fb56326e8352ba3844b57c1b9d">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" required>
  </div>
  <div class="form-group">
    <label for="message">Message</label>
    <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
  // Find all the beats cards and add touch event listeners to each of them
  const beatsCards = document.querySelectorAll('.beats-card');
  beatsCards.forEach((card) => {
    card.addEventListener('touchstart', function() {
      // Toggle the 'flipped' class on the card when it's touched
      this.querySelector('.beats-card-inner').classList.toggle('flipped');
    });
    card.addEventListener('touchend', function() {
      // Toggle the 'flipped' class on the card when touch ends
      this.querySelector('.beats-card-inner').classList.toggle('flipped');
    });
    card.addEventListener('touchcancel', function() {
      // Toggle the 'flipped' class on the card when touch is cancelled
      this.querySelector('.beats-card-inner').classList.toggle('flipped');
    });
  });
</script>

<script>
    let popupMinimized = false;
    
    function openPopup(title, url) {
      // close any previous popups
      const previousPopup = document.querySelector('.popup');
      if (previousPopup) {
        previousPopup.remove();
      }
      
      const popup = document.createElement('div');
      popup.classList.add('popup');
    
      const audio = document.createElement('audio');
      audio.src = url;
      audio.controls = true;
      audio.autoplay = true;
      audio.preload = "metadata";
    
      const beatTitle = document.createElement('h2');
      beatTitle.textContent = title;
    
      const toggleButton = document.createElement('button');
      toggleButton.classList.add('toggle-button');
      toggleButton.textContent = '-';
      toggleButton.addEventListener('click', () => {
        popupMinimized = !popupMinimized;
        if (popupMinimized) {
          toggleButton.textContent = '+';
          popup.classList.add('minimized');
          beatTitle.style.display = 'none';
          closeButton.style.bottom = '70px';
          popup.style.transform = 'translate(0, 0)';
          popup.style.top = 'auto';
          popup.style.left = 'auto';
          popup.style.bottom = '20px';
          popup.style.right = '20px';
          popup.style.zIndex = '1';
        } else {
          toggleButton.textContent = '-';
          popup.classList.remove('minimized');
          beatTitle.style.display = 'block';
          closeButton.style.bottom = '138px';
          popup.style.transform = 'translate(-50%, -50%)';
          popup.style.top = '50%';
          popup.style.left = '50%';
          popup.style.bottom = 'auto';
          popup.style.right = 'auto';
        }
      });
    
      const buttonsContainer = document.createElement('div');
      buttonsContainer.classList.add('buttons-container');
      buttonsContainer.appendChild(toggleButton);
    
      popup.appendChild(beatTitle);
      popup.appendChild(buttonsContainer);
      popup.appendChild(audio);
      document.body.appendChild(popup);
    
      const closeButton = document.createElement('button');
      closeButton.textContent = 'X'; // change text content to X
      closeButton.style.position = 'absolute'; // set position to absolute
      closeButton.style.right = '10px'; // adjust right property
      closeButton.style.bottom = '138px';
      closeButton.addEventListener('click', () => popup.remove());
    
      popup.appendChild(beatTitle);
      popup.appendChild(audio);
      popup.appendChild(closeButton);
      document.body.appendChild(popup);
    
      // add animation effect when the song is playing
      audio.addEventListener('play', () => {
        popup.classList.add('playing');
      });
      
      // remove animation effect when the song is paused or ended
      audio.addEventListener('pause', () => {
        popup.classList.remove('playing');
      });
      audio.addEventListener('ended', () => {
        popup.classList.remove('playing');
      });
    }
  </script>

<script>
    // Show/hide the share menu when the share button is clicked
    const shareButtons = document.querySelectorAll(".share-button");

shareButtons.forEach((button) => {
  button.addEventListener("click", (event) => {
    const shareMenu = event.target.nextElementSibling;
    shareMenu.classList.toggle("show-share-menu");
  });
}); </script>

{% endblock %}
